body{
    margin: 0px;
    display: grid;
    grid-auto-flow: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    /* text-align: center; */
    background: linear-gradient(#261C2C, #3E2C41);
    color: white;
}
.header__title{
    margin: 2vh 3vw;
}
.main{
    background: linear-gradient(#3E2C41, #5C527F);
}
.main__post{
    margin: 1vh 2vw;
}
footer{
    background: linear-gradient(#5C527F, #6E85B2);
    color: seashell;
    display: flex;
    flex-direction: row;
    font-size: 2vh;
}
.footer__text{
    padding: 2px 10px;
}
.footer__aclaration{
    padding: 2px 10px;
}