#container{
    padding: 3em;

}

#header{
    color: white;
    background: royalblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    text-align: center;
    box-shadow: 3em;
}

#footer{
    color: seashell;
    background: blueviolet;
    background-size: contain;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    margin: auto;
    font-size: medium;
}